* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1b1b1b;
}

header,
section h2,
section h3,
form button,
header h1{
    font-family: "Bebas Neue", serif;
    font-weight: bold;
}

body, input, textarea{
    font-family: "Smooch Sans", serif;
    font-weight: 600;
}

header {
    padding: 16px 0;
    background-color: #7700ff;
    color: #000000;
}


header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #000000;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section h2, section h3{
    color: #7700ff;
}

section p{
    color: #00eeff;
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
    
}

.social-links li a {
    text-decoration: none;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #00eeff;
    color: #000000;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #7700ff;
}

input:focus, textarea:focus{
    outline-color: #00eeff;
}

footer {
    background-color: #00eeff;
    color: #000000;
    padding: 16px 0;
}